<!--music_network/templates/music_network/show_all_profiles.html-->
{% extends 'music_network/base.html' %}
{% load static %}

{% block content %}

<div>
    <div id="fb_profiles">
        {% for p in profiles %}
        <table>
            <tr><img src="{{p.profile_image_url}}" alt="image of {{p.first_name}}" id="fb_image"></tr>
            <tr><h2><a href="{% url 'show_profile' p.pk %}">{{p.first_name}} {{p.last_name}}</a></h2></tr>
        </table>
        <br>
        {% endfor %}
    </div>
<div>

{% endblock %}