<!--mini_fb/templates/mini_fb/create_status_form.html-->
{% extends 'mini_fb/base.html' %}
{% block content %}
    <h2>Add a status message</h2>
    <form method = 'POST'>
        {% csrf_token %}
        <table>
            {% for field in form %}
            <tr>{{field}}</tr>
            {% endfor %}
            <tr>
                <td></td>
                <td>
                    <input type='submit' name = 'Add Message!' value= 'Add Message!'>
                </td>
            </tr>
            </table>
    </form>
{% endblock %}