<!--quotes/templates/quotes/about.html-->
{% extends 'quotes/base.html' %}
{% load static %}

{% block content %}
<h1>About Amy Winehouse</h1>
<div>
    <br>
    <p>
        Amy Winehouse was a singer-songwriter known for singing in various genres, particularly soul, blues, and jazz. Her debut album "Frank", released in 2003, was a hit in the UK, and her following album, "Back to Black", blew up internationally. Amy Winehouse passed away in 2011 due to alcohol poisoning, at the age of 27.
    </p>
</div>
<br>

{% endblock %}